/* Jest styles */

/* base style */
#jest               { width: 700px;
                      margin: auto;
                      border: 1px solid #555;
                      background-color: rgba(225,225,225,1	);
                      font-family: Helvetica, Arial, sans-serif; }
                      
#jest li            { list-style-position: inside; }

/* header style */
#jest-stats,
#jest-header,
#user-info          { display: inline-block;
					  vertical-align: top; }

#jest .banner       { width: 124px;
					  height: 50px;
					  color: #fff;
                      text-decoration: none;
                      text-align: center;
                      text-shadow: 0 -1px rgba(0,0,0,.25);
                      line-height: .7em;
                      border: 1px solid #888;
                      border-top: none;
                      background-color: #999;
                      background-image: -webkit-gradient(linear, 
                      									 0% 0%, 
                      									 0% 100%, 	
                      									 from(rgba(0,0,0,.0)), 
                      									 to(rgba(0,0,0,.25)));
                      box-shadow: inset 0 0 2px rgba(255,255,255,.5),
                      			  inset 0 -5px 20px rgba(0,0,0,.15), 
                      			  0 2px 5px rgba(0,0,0,.25); }

#jest-stats,
#user-info          { font-size: 12px; }
#jest-stats         { margin: 0 0 0 70px; }
#user-info          { margin: 0 69px 0 0; }

#jest-header        { width: 300px; }
#jest-header h1     { margin: 0;
					  font-size: 60px;
					  font-weight: 400;
					  font-family: Georgia, serif;
					  text-align: center;
					  line-height: .9em;
					  letter-spacing: .2em; }
#jest-header hr     { margin: auto;
					  width: 250px; }
#jest-header h2     { margin: 2px 0 0 0;
					  font-size: 18px;
					  font-weight: 100;
					  text-align: center;
					  text-shadow: 0 -1px #fff;
					  letter-spacing: .1em; }
			
/* test styles */
#jest-tests .passed,
#jest-tests .failed,
#jest-tests .message     { display: inline-block; }
#jest-tests .message     { margin: 0; padding: 0; }
#jest-tests .passed      { background-color: rgba(100, 255, 100, 1); }
#jest-tests .passed.test { border: 1px solid #395;
                           background-color: #6c8; }
#jest-tests .failed      { background-color: #c66; }
#jest-tests .failed.test { border: 1px solid #933;
                           background-color: #c66; }
               
/* error styles */
#jest-error              { width: 100%;
						   margin: -1px auto 0 auto;
						   border-radius: 0 0 10px 10px;
						   color: #333;
						   background-color: rgba(255, 100, 100, 1);
                           text-decoration: none;
	                  	   text-align: center;
	                  	   text-shadow: 0 1px rgba(0,0,0,.25);
	                  	   font-family: Helvetica, Arial, sans-serif;
	                  	   line-height: 1.3em;
	                       display: inline-block;
	                       border: 1px solid #888;
	                       background-image: -webkit-gradient(linear, 
	                      								 0% 0%, 
	                      								 0% 100%, 	
	                      								 from(rgba(0,0,0,.0)), 
	                      								 to(rgba(0,0,0,.25)));
	                       box-shadow: inset 0 0 2px rgba(255,255,255,.75),
	                      		       inset 0 -5px 20px rgba(0,0,0,.15), 
	                      		       0 2px 5px rgba(0,0,0,.25);
	                       -webkit-transition: all .1s linear; }
#jest-error .error-bang  { font-size: 16px;
                           color: rgba(250, 250, 200, 1); }  
						   
						   
                      
